body{
    background: purple;
    font-family:Arial, Helvetica, sans-serif;
}


.assignment {
display: flex;
padding: 10px;
margin: 10px;
background: chocolate;
border-radius: 5px;
}
.assignment img{
    width:200px;
    margin; 10px;
    border: 4px solid #FFF;

}

.assignment img.hover{
    border:4x dashed #ff2255
}
h1{
    color:gold;
    text-align: center;
}
h1:hover{
    color:cornflowerblue
}


a {
    text-decoration:none
    color:#8A2BE2;
}

